body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);   
}

#form {
    width: 600px;
    height: 750px;
    margin: 15vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
    font-size: 4rem;
}

/* #form-container {

} */

#send-button {
    padding: 10px;
    margin-top: 40px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #0f2027;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    height: 40px;
}

#longmessage {
    border: 2px solid #0f2027;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    height: 200px;
}

label {
    font-size: 16px;
    margin-left: 5px;
}

.input-control input:focus {
    outline: 0;
    /* font-size: 16px; */
}

.input-control.success input, .input-control.success textarea {
    border: 4px solid #09c372;
}

.input-control.error input, .input-control.error textarea {
    border: 4px solid #ff3860;
}

.input-control .error {
    margin: 2px;
    color: #ff3860;
    font-size: 14px;
    height: 30px;
}

/* .errorInput {
 border: 5px solid red;
}

.correctInput {
    border: 5px solid green;
} */